.card-list-divStyle {
  border: 5px solid pink;
  background-color: lightgreen;
  /*width: 85vw;*/
  width: auto;
  margin: 10 auto;
  margin-left: 5px;
  margin-right: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
}
