.card-container {
  display: flex;
  flex-direction: column;
  background-color: #95dada;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.35s ease-out;
}

.card-container:hover {
  transform: scale(1.05);
}

.card-container img {
  height: 180px;
  width: 160px;
  margin : auto;
}

.card-container img:hover {
  transform: scale(1.05);
  transition: transform 0.5s ease-out;
}
